{% extends "base.html" %}
{% block title %} 일간순위 {% endblock title %}
{% block content %}
<div class="row">
    <!-- Search -->
    <div class="col-md-12">
        <form action="#" method="get">
            <div class="input-group">
                <input class="form-control" id="system-search" placeholder="Search for" required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </form>
        <!-- Rank -->
        <table class="table table-list-search text-center">
         <caption>
             <h1>{{chart_date|date:"Y년 m월 d일"}}</h1>
             <h2>종합순위</h2>
             <ul class="pagination pull-right">
              {% if current_page == total_page or next_page == -1 %}
                 <li><a href="/daily/{{ priv_page }}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                 <li><a><span class="glyphicon glyphicon-minus"></span></a></li>
              {% else %}
                 {% if current_page == 1 %}
                    <li><a><span class="glyphicon glyphicon-minus"></span></a></li>
                    <li><a href="/daily/{{ next_page }}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 {% else %}
                     <li><a href="/daily/{{ priv_page }}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                     <li><a href="/daily/{{ next_page }}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 {% endif %}
              {% endif %}
            </ul>
         </caption>
        <thead>
            <tr>
                <th width="5%">순위</th>
                <th width="15%"></th>
                <th width="20%">가수</th>
                <th width="30%">제목</th>
                <th width="40%" class="hidden-xs">앨범</th>
            </tr>
        </thead>
        <tbody>
            {% for song in ranks %}
            <tr>
                <td>{{song.rank}}</td>
                <td>
                    <img alt="thumbnail" src="{{song.albumImg}}">
                </td>
                <td>{{song.singer}}</td>
                <td>
                    <strong>{{song.title}}</strong>
                </td>
                <td class="hidden-xs">{{song.album}}</td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
    </div>
</div>
{% endblock content %}