{% extends "base.html" %}
{% block title %} 일간순위 {% endblock title %}
{% block content %}
<div class="row">
    <div class="col-xs-12 text-center">
        {% if form.errors %}
        <p>정보가 일치하지 않습니다.</p>
        {% endif %}
        <form method="post" class="form-horizontal" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {{ form.as_p }}
            <button type="submit" class="btn btn-success btn-font">로그인</button>
        </form>
    </div>
</div>
{% endblock content %}